<ion-tabs class="cust-ui">

  <ion-tab-bar slot="bottom" class="tabbar" color="light">
    <ion-tab-button tab="tab1" class="cust-ui"  color="light">
      <!-- <ion-icon name="calendar" ></ion-icon> -->
      <img src="../../assets/icon/png/286-calendar.png" class="tab-icon">
      <ion-label>לוח שנה</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="cust-ui">
      <!-- <ion-icon name="search"></ion-icon> -->
      <img src="../../assets/icon/png/278-list.png" class="tab-icon">
      <ion-label>המטלות שלי</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="cust-ui">
      <!-- <ion-icon name="locate"></ion-icon> -->
      <img src="../../assets/icon/png/354-map location.png" class="tab-icon">
      <ion-label> מפה </ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>