<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" src="../../assets/icon/logo.png">
      <ion-label class="aa"> היסטוריית חיפושים</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-button (click)="getFound()">נמצאו</ion-button>
      <ion-button (click)="getNotFound()">לא נמצאו</ion-button>
      <ion-button (click)="getAll()">הכל</ion-button>
    </ion-fab-list>
  </ion-fab>

  <br>
  <br>
  <br>
  <br>
  

  <ion-list>
    <ion-label class="l">שם מוצר</ion-label>
    <ion-label class="l">קטגוריה</ion-label>
    <ion-label class="l">חנות</ion-label>
    <ion-label class="l">מצב חיפוש</ion-label>
    <ion-item *ngFor="let item of searches">
      <ion-label>
        <p>{{item.nameProduct}}</p>
      </ion-label>
      <ion-label>
        <p>{{item.nameCategory}}</p>
      </ion-label>
      <ion-label>
        <p>{{item.nameShop}}</p>
      </ion-label>
      <ion-label>
        <p>{{item.status}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>