<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- <img alt="logo" src="../../assets/icon/favicon.png"> -->
      <ion-label class="">בחר תאריכים למטלה חדשה</ion-label>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<!-- <ion-button vertical="top" horizontal="end" (click)="this.openModal(dateRange.from,dateRange.to)">
  <ion-icon name="add" title="חיפוש חדש"></ion-icon>
</ion-button> -->
  <div class="ion-padding">
<!-- <ion-button onclick="">הוסף חיפוש לתאריך זה</ion-button> -->
    <ion-calendar [(ngModel)]="dateRange"
        [options]="optionsRange"
        [type]="type"
        [format]="'YYYY-MM-DD'"
        (change)="onChange($event)">

    </ion-calendar>
    
  </div>
</ion-content>