<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" src="../../assets/icon/logo.png" >
      <ion-label class="aa"> חיפוש חדש</ion-label >
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> מוצר לחיפוש</ion-label>
    <ion-input [(ngModel)]="nameProduct"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>בחר קטגוריה</ion-label>
    <ion-select okText="בחר" cancelText="בטל" (ionChange)="categorySelected(item)" [(ngModel)]="nameCategory">
      <ion-select-option *ngFor="let item of Categories">{{item.nameCategory}}
      </ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label>בחר מרחק לחיפוש</ion-label>
  </ion-item>
  <ion-item>
    <ion-range [(ngModel)]="distance" min="0" max="5000" color="secondary" pin="true">

      <ion-label slot="end">5000 מטר </ion-label>
      <ion-label slot="start">0 מטר</ion-label>
    </ion-range>
  </ion-item>


  <ion-button name="search" fill="outline" expand="block" (click)="searchItem()">הפעל חיפוש</ion-button>
</ion-content>