<!-- <ion-header>
  <ion-toolbar>
    <ion-title>

      

    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <h2 class="">
    <img src="../../assets/icon/png/286-calendar.png" class="icon">
    בחר תאריכים למטלה חדשה
  </h2>
<!-- <ion-button vertical="top" horizontal="end" (click)="this.openModal(dateRange.from,dateRange.to)">
  <ion-icon name="add" title="חיפוש חדש"></ion-icon>
</ion-button> -->
  <div class="ion-padding">
<!-- <ion-button onclick="">הוסף חיפוש לתאריך זה</ion-button> -->
    <ion-calendar [(ngModel)]="dateRange"
        [options]="optionsRange"
        [type]="type"
        [format]="'YYYY-MM-DD'"
        (change)="onChange($event)">

    </ion-calendar>
    
  </div>
</ion-content>