<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" src="../../assets/icon/logo.png">
      <ion-label class="aa">מפה</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label style=" text-align: center;   font-weight: bold;">חפש חנויות לפי קטגוריה
    </ion-label>
    <ion-select required okText="בחר" cancelText="בטל" (ionChange)="categorySelected(item)" [(ngModel)]="nameCategory">
      <ion-select-option *ngFor="let item of Categories">{{item.nameCategory}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <agm-map [fitBounds]="this.shopsForCategory&&this.shopsForCategory.length>1" [latitude]="latitude"
    [longitude]="longitude" [zoom]="zoom">
    <agm-marker class="img" [agmFitBounds]="true" [latitude]="latitude" [longitude]="longitude" [iconUrl]="
    {
      url: '../assets/icon/location.png',
      scaledSize: {
          width: 70,
          height: 70
      }
  }">

      <agm-info-window>אתה נמצא כאן</agm-info-window>
    </agm-marker>

    <agm-marker style="margin:7px" [agmFitBounds]="true" *ngFor="let locationItem of this.shopsForCategory"
      [latitude]="locationItem.Latitude" [longitude]="locationItem.Longitude"
      (markerClick)="clickedMarker(locationItem,infowindow)" [iconUrl]="
    {
      url: '../assets/icon/shop.png',
      scaledSize: {
          width: 45,
          height: 50
      }
  }">
      <!--  [label]="{color: 'black', text: locationItem.NameShop}" -->
      <agm-info-window #infowindow>
        <ins>
          <p style="text-align: center;"> {{currentShop.NameShop}}</p>
        </ins>
        <p style="text-align: center;"> {{currentShop.AddressString}}</p>
        <p style="text-align: center;"> {{currentShop.PhoneShop}}</p>
        <p style="text-align: center;"> {{currentShop.FromHour}}-{{currentShop.ToHour}}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>

</ion-content>