<ion-app dir="rtl">
  <ion-header role="banner" class="ios header-ios header-collapse-none hydrated" color="primary" >
    <ion-toolbar color="primary" >
      <div slot="end" class="hello-user">
      <img src="../assets/icon/png/364-user.png" class="icon">
      <span >שלום <span>{{user.nameUser}}</span></span>
    </div>
        <ion-toggle color="secondary" slot="start" (ngModelChange)="updateNotifictionStatus()"></ion-toggle>
    <!-- <img alt="logo" class="logo" src="../../assets/icon/favicon.PNG"> -->
    </ion-toolbar> 
</ion-header>
<ion-icon ></ion-icon>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
