// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './theme/variables.scss';
ion-header{
    height: 90px;
    ion-toolbar{
        height: 100%;
    }
}
img.logo{
    width:180px;
}
ion-tabs{
    padding-top: 90px;
}
ion-title{
    text-align: center;
    color:--ion-color-primary;
}