// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './theme/variables.scss';
ion-header{
    height: 90px;
    ion-toolbar{
        height: 100%;
    }
}
h2{
    align-items: center;
    display: flex;
    color:var(--ion-color-primary);
    font-size: 22px;
}
.icon{
    width: 45px;
    margin: 0 5px;
}
img.logo{
    width:180px;
}
.hello-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
// .tabs-inner{
//     margin: 15px;
// }
ion-tabs{
    padding-top: 90px;
}
ion-title{
    text-align: center;
    color:var(--ion-color-primary);
}
ion-content{
  padding: 15px;
}
 ion-list ion-item {
    &:focus-within{
    color: var(--ion-color-secondary);
}
}

.modal-wrapper {
    width: 90vw !important;
    height: 75vh !important;
}

label{
    font-size: medium;
}

.title-info{
    font-weight: bolder;
    color: var(--ion-color-primary);    
}
.ta-start{
    text-align: start;
}
.like{
    background-color: red;
}
.alert-checkbox-label{
    padding: 10px 0 !important;
}
.alert-checkbox-icon{
    margin: 10px 3px !important;
}